# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

__init__.py
__init__.pyc

# Virtual Env
.venv/
venv/
env/

.pytest_cache/

# Environment Variables
.env
.env.*
!.env.aws_template
!.env.example

# IDE
.vscode/
.idea/

# Data (Large Files)
*.parquet
*.zip
data/
bronze/
silver/
gold/

# Logs
logs/

# Exclude sensitive keys/secrets if any (though .env covers mostly)

# Allow models and results (User preference)
# models/
# results/

docs/
reports/

deployment/
.streamlit/