*.txt

*.parquet

*.csv

__pycache__

*.ipynb_checkpoints

*.png    
*.jpg
*.pdf    
*.html


__init__.py
legacy_archive/
legacy/


*.md
!README.MD

archive/
docs/


.env
env.prod.template

data/

.venv/
venv/
.vscode

colab_export/
colab_execute/

reports/
#results/