--extra-index-url https://download.pytorch.org/whl/cu126

pandas
moto
boto3
pytest
pytest-mock
python-dotenv
dotenv
numpy
scikit-learn
matplotlib
seaborn
pyspark==3.5.3
torch==2.7.1+cu126
botocore
requests
jupyter
findspark
statsmodels
lightgbm
shap
xgboost
catboost
pyarrow
flake8
